body {
    
    margin: 0;
    box-sizing: border-box;
    
    
  }
 
p{
    font-family: Arial, serif;
}
  .nav {
    color: black;
    text-align: center;
  }

  h2 {
    margin-top: 0.5em;
    color: white;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    margin-right: 15px;
  }

  .toggle-btn {
    display: none;
  }
  .social-icons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .social-icons a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #212529;
    font-size: 20px;
  }
  @media(max-width: 600px) {
    
    ul {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -200px;
      margin-top: 3.5em;
      width: 200px;
      height: auto;
      background-color: #f8f9fa;
      transition: 0.5s;
    }

    ul.show {
      visibility: visible;
      left: 0;
    }

    ul li {
      display: block;
      margin: 15px;
    }

    .toggle-btn {
      color: white;
      display: block;
      z-index: 100;
      margin: 0.3em;
      margin-right: 0.4em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      border: 0;
      background-color: #5dbb63;
      border-radius: 3px;
    }

    .nav {
      overflow-x: hidden;
      background-color: green;
      margin: 0;
      padding: 0;
    }
   
  }
  .serv {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .m {
    height: 100vh;
  }
  p {
    line-height: 2;
    
  }
  .card{
    z-index: -9;
    background-color: transparent;
  }
  /* Add this to your existing style.css file */
.dark-mode {
    background-color: #212121; /* Dark background color */
    color: #ffffff; /* Light text color */
  }
  h1, h2, h3, h4{
    
    font-family: 'Nunito Sans', sans-serif;
    
  }

  @media (min-width: 600px) {
    .cont{
        display: flex;

    }
    
    
    ul {
      
      position: fixed;
      top: 0;
      left: -200px;
      margin-top: 3.5em;
      width: 200px;
      height: auto;
      background-color: #f8f9fa;
      transition: 0.5s;
    }

    ul.show {
      visibility: visible;
      left: 0;
    }

    ul li {
      display: block;
      margin: 15px;
    }

    .toggle-btn {
      color: white;
      display: block;
      z-index: 100;
      margin: 0.3em;
      margin-right: 0.4em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      border: 0;
      background-color: #5dbb63;
      border-radius: 3px;
    }

    .nav {
      overflow-x: hidden;
      background-color: green;
      margin: 0;
      padding: 0;
    }
    .aboutme{
        transform: scale(.9);
    }
    .cards{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 30em;
        margin: .3em;
    }
    .firstcard{
        margin-top: .5em;
    }
    .icos{
        margin-bottom: 2em;
        margin-top: 2em;
        
    }
    body{
      max-width: 600px;
      margin-right:auto;
      margin-left:auto;
      border-left: 2px solid gray ;
      border-right: 2px solid gray ;
    }
    .social-icons {
      position: fixed;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      background-color: #f8f9fa;
      padding: 10px;
      
    }
    .cards{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  flex-wrap: wrap;
    }
  }